
body {
  background-color: #ffffff;
  color: #212529;
  font-family: 'Inter', sans-serif;
}
.navbar, footer {
  background-color: #f8f9fa;
}
.text-pink {
  color: #ff66b2 !important;
}
.btn-outline-pink {
  border-color: #ff66b2;
  color: #ff66b2;
}
.btn-outline-pink:hover {
  background-color: #ff66b2;
  color: white;
}
.border-pink {
  border-color: #ff66b2 !important;
}
.card {
  border: 1px solid #dee2e6;
}
